{% extends "layout.html" %} {% block title %}Обеденное меню{% endblock %} {% block head %} {{ super() }}
<script src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular/angular-locale_ru-ru.js') }}"></script>
{% endblock %} {% block body %}
<section class="food" ng-app="food">
	<div class="container test" ng-controller="MainController" ng-hide="loading" ng-cloak>
			<h2 ng-bind="menus.date"></h2>
			<div class="col-md-12">


				<table class="table .table-responsive table-striped table-hover food_menu">
				<thead>
					<tr>
						<td align="center" colspan="3">Наименование</td>
						<td>Выход(гр.)</td>
						<td>Цена</td>
					</tr>
				</thead>
					<tbody ng-repeat="i in menus.menu">
						<tr>
							<td colspan="5"><strong ng-bind="i.category"></strong>
							</td>
						</tr>
						<tr ng-repeat="j in i.content">
							<td ng-bind="j.name"></td>
							<td>
								<button ng-click="minus($parent.$index,$index)" class="btn btn-default btn-sm glyphicon glyphicon-minus"></button>
								<button ng-click="plus($parent.$index,$index)" class="btn btn-default btn-sm glyphicon glyphicon-plus"></button>
							</td>
							<td>
								<input type="text" ng-model="j.count" class="form-control" style="width:60px">
							</td>
							<td ng-bind="j.weight"></td>
							<td ng-bind="j.price | currency"></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><strong>Комплекс</strong>
							</td>
							<td>
								<button ng-click="complexMinus()" class="btn btn-default btn-sm glyphicon glyphicon-minus"></button>
								<button ng-click="complexPlus()" class="btn btn-default btn-sm glyphicon glyphicon-plus"></button>
							</td>
							<td colspan="2">
								<input type="text" ng-model="menus.menu_complex.count" class="form-control" style="width:60px">
							</td>
							<td ng-bind="menus.menu_complex.price | currency"></td>
						</tr>
						<tr ng-repeat="position in menus.menu_complex.content">
							<td ng-bind="position" colspan="5"></td>
						</tr>

					</tbody>
				</table>

				<div class="row order_form">
					<form id="order_form">

						<div class="col-md-6">
							<h3>Ваш заказ:</h3>
							<ol id="result">
								<li ng-repeat="x in items">
									<span ng-bind="x.id"></span>
									<span ng-bind="x.count + ' шт.'"></span>
									<span ng-bind="x.idTotal | currency"></span>
								</li>
							</ol>
							<p>Общая сумма: <span id="total" class="price" ng-bind="total() | currency"></span>
							</p>
						</div>
						<div class="col-md-6">
							<div class="form-group input_wrap">
								<label for="InputCabinet">№ кабинета*</label>
								<input type="text" class="form-control required" id="InputCabinet" name="cabinet" placeholder="Введите номер кабинета" required>
							</div>
							<div class="form-group input_wrap">
								<label for="InputInitials">Ф.И.О.</label>
								<input type="text" class="form-control" id="InputInitials" name="init" placeholder="Введите Ф.И.О.">
							</div>
							<button id="submit" type="submit" class="btn btn-lg btn-success pull-right" ng-disabled="!items.length">Сформировать заказ</button>
						</div>
					</form>
				</div>
			</div>
		
	</div>
</section>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='libs/Validation/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/food_menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular/controllers/MainController.js') }}"></script>
{% endblock %}