{% extends "layout.html" %} {% block title %}Обеденное меню{% endblock %} {% block head %} {{ super() }}
<script src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>
{% endblock %} {% block body %}
<section class="food" ng-app="food">
	<div class="container" ng-controller="MainController">
		<div class="row">
			<h2>Обеденное меню</h2>
			<div class="col-md-12">
				{% autoescape false %} {{menu}} {% endautoescape %}
{% raw %}

<table class="table table-striped table-hover food_menu">
	<tbody  ng-repeat="i in foodMenu.menu">
				<tr>
			<td colspan="4"><strong>{{ i.category}}</strong></td>
		</tr>
		<tr ng-repeat="j in i.content">
			<td>{{ j.name}}</td>
			<td>{{ j.weight}}</td>
			<td>{{ j.price}} руб.</td>
			<td class="edit"><button class="btn btn-default btn-order" type="button">Заказать  <span class="badge"></span></button></td>
		</tr>
	</tbody>
	<tbody>
		<tr>
		<td colspan="2"><strong>Комплекс</strong></td>
		<td>{{ foodMenu.menu_complex.price}} руб.</td>
		<td class="edit"><button class="btn btn-default btn-order" type="button">Заказать  <span class="badge"></span></button></td>		
		</tr>
		<tr ng-repeat="i in foodMenu.menu_complex.content">
			<td colspan="4">{{i}}</td>
		</tr>
		
	</tbody>
</table>
			
			
				
				
{% endraw %}


				<div class="row order_form">
					<form id="order_form">

						<div class="col-md-6">
							<h3>Ваш заказ:</h3>
							<ol id="result"></ol>
							<p>Общая сумма: <span id="total" class="price"></span>
							</p>
						</div>
						<div class="col-md-6">
							<div class="form-group input_wrap">
								<label for="InputCabinet">№ кабинета*</label>
								<input type="text" class="form-control required" id="InputCabinet" name="cabinet" placeholder="Введите номер кабинета" required>
							</div>
							<div class="form-group input_wrap">
								<label for="InputInitials">Ф.И.О.</label>
								<input type="text" class="form-control" id="InputInitials" name="init" placeholder="Введите Ф.И.О.">
							</div>
							<button id="submit" type="submit" class="btn btn-lg btn-success pull-right" disabled="disabled">Сформировать заказ</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='libs/Validation/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/food_menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular/controllers/MainController.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular/services/foods.js') }}"></script>
{% endblock %}