{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="row">
	<h2>Обеденное меню</h2>
	<div class="col-md-12">
	{% autoescape false %}
		{{menu}}
	{% endautoescape %}
				
	<div class="row fromtest">
		<form class="order_form">
			
				<div class="col-md-6">
						<h3>Ваш заказ:</h3>
						<ol id="result"></ol>
						<p>Общая сумма: <span id = "total" class="price"></span></p>			
				</div>
				<div class="col-md-6">
						  <div class="form-group">
    <label for="InputCabinet">№ кабинета*</label>
    <input type="text" class="form-control" id="InputCabinet" placeholder="Введите номер кабинета" required>
  </div>
						  <div class="form-group">
    <label for="InputInitials">Ф.И.О.</label>
    <input type="text" class="form-control" id="InputInitials" placeholder="Введите Ф.И.О.">
  </div>
							<button id="submit" type="button" class="btn btn-lg btn-success pull-right">Сформировать заказ</button>
				</div>
		</form>
</div>
	</div>
	</div>
</div>
{% endblock %}