<!doctype html>
<head>
  <title>PythonPoint</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='libs/animate/animate.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fonts.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<!--   <div class="loader">
    <div class="loader_inner"></div>
  </div> -->
  <nav class="header_menu navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Портал</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('translate') }}">Переводчик</a> </li>
          <li><a href="{{ url_for('food_menu') }}">Обеденное меню</a> </li>
        </ul>
       <!-- {#<ul class="nav navbar-nav navbar-right">
          <li>  {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
          {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
          {% endif %}</li>
        </ul>#}-->
      </div>
    </div>
  </nav>

        <div class="content">
          {% for message in get_flashed_messages() %}
            <p class="bg-info flash">{{ message }}</p>
          {% endfor %}
          {% block body %}{% endblock %}
        </div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<p class="text-center">SlowSoft, <span class="year"></span></p>
		</div>
	</div>
</footer>
    <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
  <!--[if lt IE 9]>
  <script src="{{ url_for('static', filename='js/html5shiv/es5-shim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/html5shiv/html5shiv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/html5shiv/html5shiv-printshiv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/respond/respond.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
  <![endif]-->

  <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<!--  <script src="{{ url_for('static', filename='libs/animate/animate-css.js') }}"></script>-->
<!--  <script src="{{ url_for('static', filename='libs/waypoints/waypoints.min.js') }}"></script>-->
  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>